
.hotel-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 !important;
    margin: 0 !important;

    .hotel-card {
        border: 1px solid #e0e0e0;
        border-radius: 15px;
        width: 100%;

        padding: 1rem;
    }

    /* HOTEL IMAGE  */

    .hotel-image-box {
        position: relative;
        display: flex;
        justify-content: start;
        padding: 0;

        .hotel-image {
            width: 15rem;
            height: 15rem;
            object-fit: cover;
            border-radius: 15px;
        }

        /* FAVORITE BUTTON */

        .favorite-button {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0.5rem;
            right: 6rem;

            width: 50px;
            height: 50px;

            border-radius: 50%;
            border: none;

            color: #e0e0e0;
            transition: ease-in-out 0.2s;

            &:hover {
                background-color: #dfdfdf;
                
            }

            i {
                font-size: 1.2rem;
                color: black;
            }
        }
    }

    .hotel-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        h2{
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
            color: #0088d9
        }

        i {
            color: #ffb700;
        }

        
    }

    .hotel-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .hotel-meta {
            display: flex;
            gap: 2rem;

            .hotel-location {
                color: #0088d9;
                font-size: 1.2rem;
                text-decoration: underline;
            }

            .hotel-availability {
                font-size: 1.2rem;
                font-weight: 500;

            }
        }

    }

    .hotel-cta {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4rem;

        .hotel-price {
            font-size: 1.5rem;
            font-weight: 500;
        }

        button {
            width: 50%;
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            background-color: #0088d9;
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            cursor: pointer;
            transition: ease-in-out 0.2s;

            &:hover {
                background-color: #0077c9;
            }
        }


    }

}