.hotel-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;

    .room-date-selector-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
}

